{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-test-id"
            ]
          }
        ]
      ],
      "ignore": [
        "src/lib/__tests__/**"
      ]
    }
  }
}
