body {
  font-family: 'Lato';
  margin: 0;
  font-size: 13px;
}

.react-calendar-timeline .rct-item.item-weekend {
  background: #21f32c;
  border-color: #29b31a;
}

.demo-row {
  padding: 10px;
  line-height: 15px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;

  &.sticky {
    position: relative;
  }

  a {
    margin-left: 10px;
    color: blue;
    text-decoration: none;
    &.selected {
      text-decoration: underline;
    }
  }
}

.demo-demo {
  margin-top: 35px;
}

.demo-selection {
  margin-left: 10px;
  text-decoration: none;
  &.selected {
    font-weight: 700;
    text-decoration: underline;
  }
}

.holiday {
  background-color: rgba(250, 246, 225, 0.5);
}

.lunch {
  background-color: rgba(
    255,
    0,
    0,
    0.5
  ) !important; /* we need to overwrite the weekend rule */
}

.row-root {
  position: relative;
  z-index: 999;
  background-color: darkgray !important;
}
