body {
  font-family: 'Lato';
  margin: 0;
  font-size: 13px;
}

.dragging-over{
  background: green !important;
}

.backlog{
  max-height: calc(100vh - 35px);
  // overflow-x: visible;
  // overflow-y: scroll;

  width: 300px;
  flex: 1;
}

.task{
  padding: 8px;
  border-radius: 6px;
  background: white;
  box-shadow:0 0 1px 1px rgba(0,0,0,0.02), 0px 2px 7px rgba(0,0,0,.04);
  transform: translate(0px, 0px);
  margin:8px;
}

.rct-label{
  display: flex;
  align-items: center;
  justify-content: center;
}
.rct-label-group{
  line-height: 24px !important;
}
.alternative-days{
  &.space-between{
    width: 100%;
    padding: 0 12px;
    justify-content: space-between;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  .milestone{
    box-shadow: 0 0 3px 3px rgba(10,40,123,.02), 0 10px 56px rgba(10,40,123,.11);
    color: white;
    position: absolute;
    top: -20px;
    padding: 6px 12px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 9;
    border-radius: 12px;
    white-space: nowrap;

  }
  .day-of-week{
    margin-right: 4px;
    color: #bfc7d4;
  }
  .day-of-month{
    &.small{
      width: 18px;
      height: 18px;
    }
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover{
    .day-of-month{
      background: #e8ecf2;

    }
  }
}

//Some stuff
.avatar40{
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: white;
}
.v, .v-center,.center-v{
  display: flex;
  align-items: center;
}
.h, .h-center,.center-h{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.react-calendar-timeline .rct-item.item-weekend {
  background: #21f32c;
  border-color: #29b31a;
}

.demo-row {
  padding: 10px;
  line-height: 15px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;

  &.sticky {
    position: relative;
  }

  a {
    margin-left: 10px;
    color: blue;
    text-decoration: none;
    &.selected {
      text-decoration: underline;
    }
  }
}

.demo-demo {
  margin-top: 35px;
}

.demo-selection {
  margin-left: 10px;
  text-decoration: none;
  &.selected {
    font-weight: 700;
    text-decoration: underline;
  }
}

.holiday {
  background-color: rgba(250, 246, 225, 0.5);
}

.lunch {
  background-color: rgba(
    255,
    0,
    0,
    0.5
  ) !important; /* we need to overwrite the weekend rule */
}

.row-root {
  position: relative;
  z-index: 999;
  background-color: darkgray !important;
}
