// disable vertical line backgrounds for painter demo
.demo-painter {
  .rct-vertical-lines {
    .rct-vl {
      border-left-color: #fff;
      background: none;
      &.rct-day-6, &.rct-day-0 {
        background: none;
      }
    }
  }
  .rct-horizontal-lines {
    .rct-hl-even, .rct-hl-odd {
      border-bottom-color: #fff;
    }
  }
}
